@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: fantasy;
}

.lg-react-element {
  display: flex;
  flex-direction: column;
}

.image-preview-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 64px;
  overflow: hidden;
  box-shadow: 0 2px 4px #0000001a;
}

.image-preview-wrapper p {
  background-color: antiquewhite;
  padding: 4px;
}

.image-preview-wrapper:nth-child(odd) {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.image-preview-wrapper:nth-child(even) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.image-preview-wrapper:nth-child(even) {
  align-self: end;
}
