.tail-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.image-wrapper {
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-wrapper img {
  width: 80%;
}